@page
@model ProjectGhost.Pages.AdminModel
@{
	ViewData["Title"] = "Admin";
}


<header>
	<img id="headerLogo" src="~/images/ghostLogo.png" alt="Logo?" />
	<h2 id="headerTitle">Ghost Protocals</h2>
</header>
<nav class="tab">
	<button id="cameraScheduleBtn" class="tabOptions" onclick="openOptions(event, 'cameraSchedule')">Camera Schedule</button>
	<button id="miscOptionsBtn" class="tabOptions" onclick="openOptions(event, 'miscOptions')">Misc Options</button>
	<button id="contactUsBtn" class="tabOptions" onclick="openOptions(event, 'contactUs')">Contact Us</button>
</nav>

<!-- FOR CAMERA SCHEDULE TAB -->
<div id="cameraSchedule" class="options">
	<h1 id="scheduleH1">Schedule</h1>
	<br>

	<div class="range-head">
		<div class="range-values">
			<span class="r-0">0:00</span>
			<span class="r-3">3:00</span>
			<span class="r-6">6:00</span>
			<span class="r-9">9:00</span>
			<span class="r-12">12:00</span>
			<span class="r-15">15:00</span>
			<span class="r-18">18:00</span>
			<span class="r-21">21:00</span>
			<span class="r-24">24:00</span>
		</div>
	</div>

	<div class="range-day" id="range-day-1" data-day="1">
		<input type="checkbox" name="day-1" id="day-1" value="1" class="range-checkbox" checked>
		<label for="day-1" class="range-label">Monday:</label>
		<div id="range-slider-1" class="range-slider"></div>
		<span id="range-time-1" class="range-time"></span>

		<div class="RecordLength" id="RecordLength1">
			<form action="/" method="post">
				Record Video: <input type="radio" name="picVid" />
				<p>Length of Recording: <span id="value1a">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value1a)">
				<p>Delay Between Recording: <span id="value1b">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value1b)">
				Take Snapshot: <input type="radio" name="picVid" />
				<p>Delay Between Snapshot: <span id="value1c">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value1c)">
			</form>
		</div>

	</div>


	<div class="range-day" id="range-day-2" data-day="2">
		<input type="checkbox" name="day-2" id="day-2" value="1" class="range-checkbox" checked>
		<label for="day-2" class="range-label">Tuesday:</label>
		<div id="range-slider-2" class="range-slider"></div>
		<span id="range-time-2" class="range-time"></span>

		<div class="RecordLength" id="RecordLength2">
			<form action="/" method="post">
				Record Video: <input type="radio" name="picVid" />
				<p>Length of Recording: <span id="value2a">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value2a)">
				<p>Delay Between Recording: <span id="value2b">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value2b)">
				Take Snapshot: <input type="radio" name="picVid" />
				<p>Delay Between Snapshot: <span id="value2c">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value2c)">
			</form>
		</div>

	</div>

	<div class="range-day" id="range-day-3" data-day="3">
		<input type="checkbox" name="day-3" id="day-3" value="1" class="range-checkbox" checked>
		<label for="day-3" class="range-label">Wednesday:</label>
		<div id="range-slider-3" class="range-slider"></div>
		<span id="range-time-3" class="range-time"></span>

		<div class="RecordLength" id="RecordLength3">
			<form action="/" method="post">
				Record Video: <input type="radio" name="picVid" />
				<p>Length of Recording: <span id="value3a">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value3a)">
				<p>Delay Between Recording: <span id="value3b">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value3b)">
				Take Snapshot: <input type="radio" name="picVid" />
				<p>Delay Between Snapshot: <span id="value3c">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value3c)">
			</form>
		</div>

	</div>

	<div class="range-day" id="range-day-4" data-day="4">
		<input type="checkbox" name="day-4" id="day-4" value="1" class="range-checkbox" checked>
		<label for="day-4" class="range-label">Thursday‎:</label>
		<div id="range-slider-4" class="range-slider"></div>
		<span id="range-time-4" class="range-time"></span>

		<div class="RecordLength" id="RecordLength4">
			<form action="/" method="post">
				Record Video: <input type="radio" name="picVid" />
				<p>Length of Recording: <span id="value4a">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value4a)">
				<p>Delay Between Recording: <span id="value4b">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value4b)">
				Take Snapshot: <input type="radio" name="picVid" />
				<p>Delay Between Snapshot: <span id="value4c">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value4c)">
			</form>
		</div>

	</div>

	<div class="range-day" id="range-day-5" data-day="5">
		<input type="checkbox" name="day-5" id="day-5" value="1" class="range-checkbox" checked>
		<label for="day-5" class="range-label">Friday:</label>
		<div id="range-slider-5" class="range-slider"></div>
		<span id="range-time-5" class="range-time"></span>

		<div class="RecordLength" id="RecordLength5">
			<form action="/" method="post">
				Record Video: <input type="radio" name="picVid" />
				<p>Length of Recording: <span id="value5a">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value5a)">
				<p>Delay Between Recording: <span id="value5b">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value5b)">
				Take Snapshot: <input type="radio" name="picVid" />
				<p>Delay Between Snapshot: <span id="value5c">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value5c)">
			</form>
		</div>

	</div>

	<div class="range-day" id="range-day-6" data-day="6">
		<input type="checkbox" name="day-6" id="day-6" value="1" class="range-checkbox" checked>
		<label for="day-6" class="range-label">Saturday:</label>
		<div id="range-slider-6" class="range-slider"></div>
		<span id="range-time-6" class="range-time"></span>

		<div class="RecordLength" id="RecordLength6">
			<form action="/" method="post">
				Record Video: <input type="radio" name="picVid" />
				<p>Length of Recording: <span id="value6a">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value6a)">
				<p>Delay Between Recording: <span id="value6b">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value6b)">
				Take Snapshot: <input type="radio" name="picVid" />
				<p>Delay Between Snapshot: <span id="value6c">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value6c)">
			</form>
		</div>

	</div>

	<div class="range-day" id="range-day-7" data-day="7">
		<input type="checkbox" name="day-7" id="day-7" value="1" class="range-checkbox" checked>
		<label for="day-7" class="range-label">Sunday:</label>
		<div id="range-slider-7" class="range-slider"></div>
		<span id="range-time-7" class="range-time"></span>

		<div class="RecordLength" id="RecordLength7">
			<form action="/" method="post">
				Record Video: <input type="radio" name="picVid" />
				<p>Length of Recording: <span id="value7a">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value7a)">
				<p>Delay Between Recording: <span id="value7b">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value7b)">
				Take Snapshot: <input type="radio" name="picVid" />
				<p>Delay Between Snapshot: <span id="value7c">0</span></p>
				<input type="range" min="0" max="60" value="1" step="5" class="RecordLengthSlider" onchange="getValue(this, value7c)">
			</form>
		</div>

	</div>

	<br style="clear:both">

	<div id="snapVid">
		<h1 id="snapVidH1">view/delete recordings/imgs</h1>
		<h3>Snapshots:</h3>
		<img src="http://placehold.it/200x200" alt="Alternate Text" />
		<h3>Videos:</h3>
		<img src="http://placehold.it/350x200" />
	</div>

</div>



<!-- FOR MISC SETTINGS TAB -->
<div id="miscOptions" class="options">
	<form id="miscOptionsForm" method="post" asp-page-handler="MiscOptions">
		<h1>Audio Settings</h1>
		<h3>Audio On/Off:</h3>
		<div class="toggleContainer">
			<input type="range" min="0" max="1" value="0" class="slider" name="audioToggle" id="AudioToggle">
		</div>
		<h3>Volumn:</h3>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" name="volume" id="VolumeControl">
		</div>

		<h1 class="marginTop">Camera Settings</h1>
		<h3>Contrast:</h3>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" name="contrast" id="ContrastSlider">
		</div>
		<h3>Brightness:</h3>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" name="brightness" id="BrightnessSlider">
		</div>

		<h1 class="marginTop">LED Options</h1>
		<h3>LED On/Off:</h3>
		<div class="toggleContainer">
			<input type="range" min="0" max="1" value="0" class="slider" name="ledToggle" id="LedToggle">
		</div>

		<h1 class="marginTop">Mic Settings</h1>
		<h3>Mic On/Off:</h3>
		<div class="toggleContainer">
			<input type="range" min="0" max="1" value="0" class="slider" name="micToggle" id="MicToggle">
		</div>

		<h1 class="marginTop">Proximity Settings</h1>
		<h3>Proximity On/Off:</h3>
		<div class="toggleContainer">
			<input type="range" min="0" max="1" value="0" class="slider" name="proximityToggle" id="ProximityToggle">
		</div>



		<div id="liveFeedDiv">
			<div id="liveFeed">
				<img id="mjpeg_dest" src="http://10.2.114.26:8080/cam.jpg" alt="Live feed" style="width:100%; " />
			</div>
			<div>
				<button id="btnApplyChanges">Sumbit Changes</button>
			</div>
		</div>

	</form>
</div>



	<!-- FOR CONTACT TAB -->
<div id="contactUs" class="options">	
	<A style="align-content:center;" HREF="mailto:protoGhost123@gmail.com?body= please be sure to include your: Username(email), Phone Number, Serial Number">Click Here To Email Us</A>	
</div>
