@page
@model ProjectGhost.Pages.AdminModel
@{
	ViewData["Title"] = "Admin";
}


<header>
	<a href="./index" title="home">
		<img id="headerLogo" src="~/images/ghostLogo.png" alt="Logo?" />
	</a>
	<h2 id="headerTitle">Ghost Protocals</h2>
</header>
<nav class="tab">
	<button id="cameraScheduleBtn" class="tabOptions" onclick="openOptions(event, 'cameraSchedule')">Camera Schedule</button>
	<button id="miscOptionsBtn" class="tabOptions" onclick="openOptions(event, 'miscOptions')">Misc Options</button>
	<button id="contactUsBtn" class="tabOptions" onclick="openOptions(event, 'contactUs')">Contact Us</button>
</nav>

<!-- FOR CAMERA SCHEDULE TAB -->
<div id="cameraSchedule" class="options">
	<h1 id="scheduleH1">Schedule</h1>
	<br>

	<div class="range-head">
		<div class="range-values">
			<span class="r-0">0:00</span>
			<span class="r-3">3:00</span>
			<span class="r-6">6:00</span>
			<span class="r-9">9:00</span>
			<span class="r-12">12:00</span>
			<span class="r-15">15:00</span>
			<span class="r-18">18:00</span>
			<span class="r-21">21:00</span>
			<span class="r-24">24:00</span>
		</div>
	</div>


	<form id="ScheduleForm" method="post" asp-page-handler="Schedule">
		<fieldset>
			<div class="range-day" id="range-day-1" data-day="1" style="position:relative;">
				<input type="checkbox" name="mondayCheck" id="day-1" value="true" class="range-checkbox" checked>
				<input type="hidden" name="mondayCheck" value="false" />
				<label for="day-1" class="range-label">Monday:</label>
				<div id="range-slider-1" class="range-slider"></div>
				<span id="range-time-1" class="range-time"></span>

				<input id="OnTime1" name="onTime1" type="hidden"/>
				<input id="OffTime1" name="offTime1" type="hidden"/>

				<div class="RecordLength" id="RecordLength1">
					<div style="float:left;">
						Record Video: <input type="radio" name="picVid1" value="0" />
					</div>
					<div class="recordLengthDiv">
						<p class="recordLengthP" style="top: 85px;">Length: <span id="value1a">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vLength1" onchange="getValue(this, value1a)">
					</div>
					<div class="recordLengthDiv" style="margin-bottom: 10px;">
						<p class="recordLengthP" style="top: 110px;">Delay: <span id="value1b">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vDelay1" onchange="getValue(this, value1b)">
					</div>
					<div style="float:left;">
						Take Snapshot: <input type="radio" name="picVid1" value="1" />
					</div>
					<div class="recordLengthDiv" style="margin-bottom:-50px;">
						<p class="recordLengthP" style="top: 165px;">Delay: <span id="value1c">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="sDelay1" onchange="getValue(this, value1c)">
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="range-day" id="range-day-2" data-day="2">
				<input type="checkbox" name="teusdayCheck" id="day-2" value="true" class="range-checkbox" checked>
				<input type="hidden" name="teusdayCheck" value="false" />
				<label for="day-2" class="range-label">Tuesday:</label>
				<div id="range-slider-2" class="range-slider"></div>
				<span id="range-time-2" class="range-time"></span>

				<input id="OnTime2" name="onTime2" type="hidden" />
				<input id="OffTime2" name="offTime2" type="hidden" />

				<div class="RecordLength" id="RecordLength2">
					<div style="float:left;">
						Record Video: <input type="radio" name="picVid2" value="0" />
					</div>
					<div class="recordLengthDiv">
						<p class="recordLengthP" style="top: 670px;">Length: <span id="value2a">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vLength2" onchange="getValue(this, value2a)">
					</div>
					<div class="recordLengthDiv" style="margin-bottom: 10px;">
						<p class="recordLengthP" style="top: 695px;">Delay: <span id="value2b">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vDelay2" onchange="getValue(this, value2b)">
					</div>
					<div style="float:left;">
						Take Snapshot: <input type="radio" name="picVid2" value="1" />
					</div>
					<div class="recordLengthDiv" style="margin-bottom:-50px;">
						<p class="recordLengthP" style="top: 753px;">Delay: <span id="value2c">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="sDelay2" onchange="getValue(this, value2c)">
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="range-day" id="range-day-3" data-day="3">
				<input type="checkbox" name="wednesdayCheck" id="day-3" value="true" class="range-checkbox" checked>
				<input type="hidden" name="wednesdayCheck" value="false" />
				<label for="day-3" class="range-label">Wednesday:</label>
				<div id="range-slider-3" class="range-slider"></div>
				<span id="range-time-3" class="range-time"></span>

				<input id="OnTime3" name="onTime3" type="hidden" />
				<input id="OffTime3" name="offTime3" type="hidden" />

				<div class="RecordLength" id="RecordLength3">
					<div style="float:left;">
						Record Video: <input type="radio" name="picVid3" value="0" />
					</div>
					<div class="recordLengthDiv">
						<p class="recordLengthP" style="top: 884px;">Length: <span id="value3a">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vLength3" onchange="getValue(this, value3a)">
					</div>
					<div class="recordLengthDiv" style="margin-bottom: 10px;">
						<p class="recordLengthP" style="top: 908px;">Delay: <span id="value3b">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vDelay3" onchange="getValue(this, value3b)">
					</div>
					<div style="float:left;">
						Take Snapshot: <input type="radio" name="picVid3" value="1" />
					</div>
					<div class="recordLengthDiv" style="margin-bottom:-50px;">
						<p class="recordLengthP" style="top: 965px;">Delay: <span id="value3c">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="sDelay3" onchange="getValue(this, value3c)">
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="range-day" id="range-day-4" data-day="4">
				<input type="checkbox" name="thursdayCheck" id="day-4" value="true" class="range-checkbox" checked>
				<input type="hidden" name="thursdayCheck" value="false" />
				<label for="day-4" class="range-label">Thursday‎:</label>
				<div id="range-slider-4" class="range-slider"></div>
				<span id="range-time-4" class="range-time"></span>

				<input id="OnTime4" name="onTime4" type="hidden" />
				<input id="OffTime4" name="offTime4" type="hidden" />

				<div class="RecordLength" id="RecordLength4">
					<div style="float:left;">
						Record Video: <input type="radio" name="picVid4" value="0" />
					</div>
					<div class="recordLengthDiv">
						<p class="recordLengthP" style="top: 1095px;">Length: <span id="value4a">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vLength4" onchange="getValue(this, value4a)">
					</div>
					<div class="recordLengthDiv" style="margin-bottom: 10px;">
						<p class="recordLengthP" style="top: 1119px;">Delay: <span id="value4b">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vDelay4" onchange="getValue(this, value4b)">
					</div>
					<div style="float:left;">
						Take Snapshot: <input type="radio" name="picVid4" value="1" />
					</div>
					<div class="recordLengthDiv" style="margin-bottom:-50px;">
						<p class="recordLengthP" style="top: 1175px;">Delay: <span id="value4c">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="sDelay4" onchange="getValue(this, value4c)">
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="range-day" id="range-day-5" data-day="5">
				<input type="checkbox" name="fridayCheck" id="day-5" value="true" class="range-checkbox" checked>
				<input type="hidden" name="fridayCheck" value="false" />
				<label for="day-5" class="range-label">Friday:</label>
				<div id="range-slider-5" class="range-slider"></div>
				<span id="range-time-5" class="range-time"></span>

				<input id="OnTime5" name="onTime5" type="hidden" />
				<input id="OffTime5" name="offTime5" type="hidden" />

				<div class="RecordLength" id="RecordLength5">
					<div style="float:left;">
						Record Video: <input type="radio" name="picVid5" value="0" />
					</div>
					<div class="recordLengthDiv">
						<p class="recordLengthP" style="top: 1305px;">Length: <span id="value5a">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vLength5" onchange="getValue(this, value5a)">
					</div>
					<div class="recordLengthDiv" style="margin-bottom: 10px;">
						<p class="recordLengthP" style="top: 1330px;">Delay: <span id="value5b">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vDelay5" onchange="getValue(this, value5b)">
					</div>
					<div style="float:left;">
						Take Snapshot: <input type="radio" name="picVid5" value="1" />
					</div>
					<div class="recordLengthDiv" style="margin-bottom:-50px;">
						<p class="recordLengthP" style="top: 1390px;">Delay: <span id="value5c">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="sDelay5" onchange="getValue(this, value5c)">
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="range-day" id="range-day-6" data-day="6">
				<input type="checkbox" name="saturdayCheck" id="day-6" value="true" class="range-checkbox" checked>
				<input type="hidden" name="saturdayCheck" value="false" />
				<label for="day-6" class="range-label">Saturday:</label>
				<div id="range-slider-6" class="range-slider"></div>
				<span id="range-time-6" class="range-time"></span>

				<input id="OnTime6" name="onTime6" type="hidden" />
				<input id="OffTime6" name="offTime6" type="hidden" />

				<div class="RecordLength" id="RecordLength6">
					<div style="float:left;">
						Record Video: <input type="radio" name="picVid6" value="0" />
					</div>
					<div class="recordLengthDiv">
						<p class="recordLengthP" style="top: 1518px;">Length: <span id="value6a">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vLength6" onchange="getValue(this, value6a)">
					</div>
					<div class="recordLengthDiv" style="margin-bottom: 10px;">
						<p class="recordLengthP" style="top: 1545px;">Delay: <span id="value6b">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vDelay6" onchange="getValue(this, value6b)">
					</div>
					<div style="float:left;">
						Take Snapshot: <input type="radio" name="picVid6" value="1" />
					</div>
					<div class="recordLengthDiv" style="margin-bottom:-50px;">
						<p class="recordLengthP" style="top: 1600px;">Delay: <span id="value6c">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="sDelay6" onchange="getValue(this, value6c)">
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="range-day" id="range-day-7" data-day="7">
				<input type="checkbox" name="sundayCheck" id="day-7" value="true" class="range-checkbox" checked>
				<input type="hidden" name="sundayCheck" value="false" />
				<label for="day-7" class="range-label">Sunday:</label>
				<div id="range-slider-7" class="range-slider"></div>
				<span id="range-time-7" class="range-time"></span>

				<input id="OnTime7" name="onTime7" type="hidden" />
				<input id="OffTime7" name="offTime7" type="hidden" />

				<div class="RecordLength" id="RecordLength7">
					<div style="float:left;">
						Record Video: <input type="radio" name="picVid7" value="0" />
					</div>
					<div class="recordLengthDiv">
						<p class="recordLengthP" style="top: 1729px;">Length: <span id="value7a">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vLength7" onchange="getValue(this, value7a)">
					</div>
					<div class="recordLengthDiv" style="margin-bottom: 10px;">
						<p class="recordLengthP" style="top: 1755px;">Delay: <span id="value7b">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="vDelay7" onchange="getValue(this, value7b)">
					</div>
					<div style="float:left;">
						Take Snapshot: <input type="radio" name="picVid7" value="1" />
					</div>
					<div class="recordLengthDiv" style="margin-bottom:-50px;">
						<p class="recordLengthP" style="top: 1813px;">Delay: <span id="value7c">1</span></p>
						<input type="range" min="1" max="60" value="1" step="1" class="RecordLengthSlider" name="sDelay7" onchange="getValue(this, value7c)">
					</div>
				</div>
			</div>
		</fieldset>

		<button>Update Schedule</button>

		<br style="clear:both">

		<div id="snapVid">
			<h1 id="snapVidH1">view/delete recordings/imgs</h1>
			<h3>Snapshots:</h3>
			<img src="http://placehold.it/200x200" alt="Alternate Text" />
			<h3>Videos:</h3>
			<img src="http://placehold.it/350x200" />
		</div>
	</form>
</div>



<!-- FOR MISC SETTINGS TAB -->
<div id="miscOptions" class="options">
	<form id="miscOptionsForm" method="post" asp-page-handler="MiscOptions">
		<div class="optionsPane">
			<h1>Camera Settings</h1>

			<div class="container">
				<h3>Contrast:&nbsp;<span id="conVal">50</span></h3>
				<div class="slidecontainer">
					<input type="range" min="-100" max="100" value="0"
						   class="slider" name="contrast" id="ContrastSlider" onchange="getValue(this, conVal)">

				</div>
			</div>

			<div class="container">
				<h3>Brightness:&nbsp;<span id="brVal">50</span></h3>
				<div class="slidecontainer">
					<input type="range" min="1" max="100" value="50" class="slider"
						   name="brightness" id="BrightnessSlider" onchange="getValue(this, brVal)">
				</div>
			</div>

			<h1 class="marginTop">Audio Settings</h1>
			<div class="container">
				<h3>Audio:&nbsp; <span id="audVal">Off</span></h3>
				<div class="toggleContainer">
					<input type="range" min="0" max="1" value="0"
						   class="slider" name="audioToggle" id="AudioToggle" onchange="toggleValue(this, audVal)">
				</div>

			</div>
			<div class="container">
				<h3>Volumn:&nbsp;<span id="volVal">50</span></h3>
				<div class="slidecontainer">
					<input type="range" min="1" max="100" value="50"
						   class="slider" name="volume" id="VolumeControl" onchange="getValue(this, volVal)">
				</div>

			</div>
			<h1 class="marginTop">LED Options</h1>
			<div class="container">
				<h3>LED:&nbsp; <span id="ledVal">Off</span></h3>
				<div class="toggleContainer">
					<input type="range" min="0" max="1" value="0"
						   class="slider" name="ledToggle" id="LedToggle" onchange="toggleValue(this, ledVal)">
				</div>

			</div>
			<h1 class="marginTop">Mic Settings</h1>
			<div class="container">
				<h3>Mic:&nbsp; <span id="micVal">Off</span></h3>
				<div class="toggleContainer">
					<input type="range" min="0" max="1" value="0"
						   class="slider" name="micToggle" id="MicToggle" onchange="toggleValue(this, micVal)">
				</div>

			</div>
			<h1 class="marginTop">Proximity Settings</h1>
			<div class="container">
				<h3>Proximity:&nbsp; <span id="proxVal">Off</span></h3>
				<div class="toggleContainer">
					<input type="range" min="0" max="1" value="0"
						   class="slider" name="proximityToggle" id="ProximityToggle" onchange="toggleValue(this, proxVal)">
				</div>
			</div>
			<div class="container"></div>
		</div>



		<div id="liveFeedDiv">
			<div id="liveFeed">
				<img id="mjpeg_dest" src="http://10.2.114.26:8080/cam.jpg" alt="Live feed" style="width:100%;" />
			</div>
			<div style="text-align:center;">
				<button id="btnSnapshot">Take Snapshot</button>
				<button id="btnStartRecording">Start Recording</button>
				<button id="btnStopRecording">Stop Recording</button>
			</div>
			<div>
				<button id="btnApplyChanges">Sumbit Changes</button>
			</div>
		</div>

	</form>
</div>


<!-- FOR CONTACT TAB -->
<div id="contactUs" class="options">
	<p style="color:#fff; margin-bottom:5px;">Contact us at:</p>
	<A style="align-content:center;" HREF="mailto:protoGhost123@gmail.com?body= please be sure to include your: Username(email), Phone Number, Serial Number"><img src="~/images/email-128-black.png" style="background:#fff; margin-bottom:25px;" /></A>
	<div>
		<p style="color:#fff; margin-bottom:5px;">or visit us on:</p>
		<a href="http://www.facebook.com"><img src="~/images/facebook-128-black.png" style="background:#fff;" /></a>
		<a href="http://www.instagram.com"><img src="~/images/instagram-128-black.png" style="background:#fff;" /></a>
		<a href="http://www.myspace.com"><img src="~/images/myspace-128-black.png" style="background:#fff;" /></a>
		<a href="http://www.twitter.com"><img src="~/images/twitter-128-black.png" style="background:#fff;" /></a>
		<a href="http://www.github.com"><img src="~/images/github-128-black.png" style="background:#fff;" /></a>
	</div>
</div>

