@page
@model ProjectGhost.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<header></header>
<nav>
	<div id="securityOptions"></div>
	<div id="miscOptions"></div>
	<div id="contactUs"></div>
</nav>
