@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
	<img src="~/images/projectGhostImage4.jpg" alt="Alternate Text" style="width: 100%; height: 100%; position:absolute;" />
	<nav>
		<ul>
			<li id="login">
				<a id="login-trigger" href="#">
					Log in <span>▼</span>
				</a>
				<div id="login-content">
					<form>
						<fieldset id="inputs">
							<input id="username" type="email" name="Email" placeholder="Your email address" required>
							<input id="password" type="password" name="Password" placeholder="Password" required>
						</fieldset>
						<fieldset id="actions">
							<input type="submit" id="submit" value="Log in">
							<input type="submit" id="signup" value="Create Account" />
						</fieldset>
					</form>
				</div>
		</ul>
	</nav>
</div>