@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div id="stars">
    <nav>
        <a href="./index" title="home">
            <img id="ghostLogo" src="~/images/ghostLogo.png" name="logo" />
        </a>
        <form method="post" asp-page-handler="Login">
            <input type="email" name="email" value="" placeholder="email" required />
            <input type="password" name="password" value="" placeholder="password" required />
            <input type="submit" name="Login" value="Login" />
            <a href="./AddUser" title="Create Account">
                Create Account
            </a>
        </form>

    </nav>

	<div id="GhostBody">
		<img id="ghostRightBack" src="~/images/GhostSplit/rightBack.png" alt="Alternate Text" />
		<img id="ghostRightFront" onclick="goRight()" src="~/images/GhostSplit/rightFront.png" alt="Alternate Text" />
		<img id="ghostBottomBack" src="~/images/GhostSplit/bottomBack.png" alt="Alternate Text" />
		<img id="ghostCenter" onclick="goCenter()" src="~/images/GhostSplit/center.png" alt="Alternate Text" />
		<img id="ghostBottomFront" onclick="goDown()" src="~/images/GhostSplit/bottomFront.png" alt="Alternate Text" />
		<img id="ghostLeft" onclick="goLeft()" src="~/images/GhostSplit/left.png" alt="Alternate Text" />
		<img id="ghostTop" onclick="goUp()" src="~/images/GhostSplit/top.png" alt="Alternate Text" />
	</div>
</div>

