@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div id='stars'>
		<nav>
			<form method="post" asp-page-handler="Login">
				<input type="text" name="email" value="" placeholder="email" />
				<input type="password" name="password" value="" placeholder="password" />
				<input type="submit" name="Login" value="Login" />
				<a href="./AddUser" title="Create Account">
					Create Account
				</a>
			</form>
		</nav>

		<div>
			<div>
				<img id="ghostRightBack" src="~/images/GhostSplit/rightBack.png" alt="Alternate Text" />
				<img id="ghostRightFront" onclick="goRight()" src="~/images/GhostSplit/rightFront.png" alt="Alternate Text" />
			</div>

			<div>
				<img id="ghostBottomBack" src="~/images/GhostSplit/bottomBack.png" alt="Alternate Text" />
			</div>

			<div>
				<img id="ghostCenter" onclick="goCenter()" src="~/images/GhostSplit/center.png" alt="Alternate Text" />
			</div>

			<div>
				<img id="ghostBottomFront" onclick="goDown()" src="~/images/GhostSplit/bottomFront.png" alt="Alternate Text" />
			</div>

			<div>
				<img id="ghostLeft" onclick="goLeft()" src="~/images/GhostSplit/left.png" alt="Alternate Text" />
			</div>

			<div>
				<img id="ghostTop" onclick="goUp()" src="~/images/GhostSplit/top.png" alt="Alternate Text" />
			</div>
		</div>
</div>

